<!DOCTYPE html>
<html>
<head>
{% include 'bootstrap.html' %}
{% include 'favicon.html' %}
<title>nRyde</title>
</head>
  
  <body>
    {% include 'nav.html' %}
    <div class="mt-4"> </div>
    <div class="container"> 
        {% include 'banner.html' %}
        <h1 class="text-center mt-2 mb-4"> nRyde  Jobs</h1>
        <!--    <h2 class="text-center  mt-2 mb-4">About nRyde</h2> -->
      <div class="row" style="margin: 60px 0 20px 0">
        <div class="col-md-6">
        <p class="lead">
        Affordable, safe, and fast rides, taking the hassle out of moving around. Download now! Moving with nRyde is easy, convenient and fast.  Get a Ride Now. Official site. Get a Ride in Minutes. Set Your Own Schedule.
        </div>
        <div class=" d-none d-md-block col-6 "> 
          <img id="img-3" src="/static/people.jpg">
        </div>
        </div>
        </p>
      
        <h2 class="text-center">Open Position</h2>
        <!--      job position from list -->
        <div>
        {% for job in jobs %}  
        <!--        job position added -->
        {% include 'joblist.html' %}

          
        {% endfor %}
      </div>
      <div class="text-center">
        <a href" class="btn btn-primary btn-lg">Contact Us</a>
      </div>
    </div>
    {% include 'fotter.html' %}
</body>
</html>  